Django==1.4
-e git://github.com/bianchimro/django-bootstrapped.git@11da28f515adbad60a64d51d444eaf8df4dee186#egg=django_bootstrapped-dev
django-json-field==0.3
geopy==0.94.2
pymongo==2.2
python-dateutil==2.1
six==1.1.0
wsgiref==0.1.2
