{% load bootstrap %}

<!doctype html>
<html>
    <head>
        {% bootstrap_css %}
        <link rel="stylesheet" href="/static/sketch_ui/css/styles.css">
        
         <style>
          body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
          }
        </style>
        <title>{% block title %}{% endblock %}</title>
        <script src="/static/sketch/js/jquery.js"></script>
        <script src="/static/sketch_ui/js/lib/head.min.js"></script>
        {% block extra_head %}{% endblock %}
        
    </head>
    <body>
        
        
    {% block nav %}{% endblock %}
  
        <div id="main-content" class="container clear-top">

          {% block content_centered %}{% endblock %}

        </div> <!-- /container -->
    
    
        {% block content_wide %}{% endblock %}
    
   
    {% bootstrap_js all %}
    
    <script>
        //head.js("/static/sketch/js/jquery.js");
    </script>
    
    {% block js_body %}{% endblock %}
        
    </body>
</html>
