{% extends "ui/base.html" %}

{% block extra_head %}
    <link rel="stylesheet" href="/static/ui/css/style.css"/><link rel="stylesheet" href="/static/sketch_ui/js/lib/jquery-ui-1.9.1.custom/css/ui-lightness/jquery-ui-1.9.1.custom.min.css" />
    <link rel="stylesheet" href="/static/sketch_ui/js/lib/json-tree-viewer/css/jquery.jsonview.css"/>
{% endblock %}

{% block nav %}

    {% include "ui/nav.html" %}
    
{% endblock %}


      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Urbansketching</a>
      <div class="nav-collapse">
          {% if user.is_authenticated %}
          <ul class="nav pull-left">
           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              File
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a data-bind="click: newState">New session</a></li>
              <li class="divider"></li>
              <li><a data-bind="click: loadDialog">Load session...</a></li>
              <li class="divider"></li>
              <li><a data-bind="click: saveCurrent, css: { muted: fileName() == ''}">Save session</a></li>
              <li><a data-bind="click: saveDialogAs">Save session as...</a></li>
            </ul>
          </li>
           
          </ul>
          
          <ul class="nav pull-right">
              <li><p class="navbar-text">Welcome {{ user }} &nbsp;</p></li>
            <li>
              <form class="navbar-form" method="get" action="/logout/">
                  <input class="btn" type="submit" name="logout-button" value="Log me out"/>
              </form>
            </li>
          </ul>
          {% endif %}
      </div><!--/.nav-collapse -->          
    </div>
  </div>
</div>



{% block content_centered %}
   
    <div id="appstate-descriptor" class="">
        <table class="table">
            <tr>
                <td>File name:</td>
                <td data-bind="text: fileName"></td>
            </tr>
            <tr>
                <td>Description</td>
                <td data-bind="text: description"></td>
            </tr>

        </table>
    </div>
    
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <div id="blocks-toolbar" data-bind="with: toolbar">
                    <button class="btn btn-primary" data-bind="click: addQuery"><i class="icon-search"></i>&nbsp;Query</Button>
                    <button class="btn btn-primary" data-bind="click: addTwitter"><i class="icon-search"></i>&nbsp;Twitter API</Button>
                    <button class="btn btn-primary" data-bind="click: addFilter"><i class="icon-search"></i>&nbsp;Filter</Button>
                    <button class="btn btn-primary" data-bind="click: addList"><i class="icon-list"></i>&nbsp;List</Button>
                    <button class="btn btn-primary" data-bind="click: addItemList"><i class="icon-eye-open"></i>&nbsp;Item view</Button>
                    <button class="btn btn-primary" data-bind="click: addMap"><i class="icon-map-marker"></i>&nbsp;Map</Button>
                    <button class="btn btn-primary" data-bind="click: addWordCloud"><i class="icon-map-marker"></i>&nbsp;Word Cloud</Button>
                    <button class="btn btn-primary" data-bind="click: addWordCount"><i class="icon-map-marker"></i>&nbsp;Word Count</Button>
        
                    <button class="btn btn-info" data-bind="click: addDbInfo"><i class="icon-eye-open"></i>&nbsp;DB Info</Button>
                    <!--
                    <button class="btn btn-info" data-bind="click: zoomOut"><i class="icon-minus"></i>&nbsp;ZoomOut</Button>
                    -->
                    <button class="btn btn-info pull-right" data-bind="click: function(){$('#appstate-descriptor').toggle();}"><i class="icon-eye-open"></i>&nbsp;Session Info</Button>
        
                </div>
             </div>
             
        </div>
    </div>

    
    <!-- to be moved to a modal dialog -->
    <div class="modal fade out" id="save-dialog">
        <div class="modal-header">
            <h3>Save this session</h3>
        </div>
        <div class="modal-body">        
            <form>
                <label>Filename</label>
                <input type="text" data-bind="value: fileNameProxy"/>
                <label>Description</label>
                <textarea data-bind="value: description"></textarea>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-bind="click: saveAndHideDialog">Save</button>
            <button class="btn" data-bind="click: hideSaveDialog">Cancel</button>
        </div>
    </div>
    
    
    <!-- to be moved to a modal dialog -->
    <div class="modal fade out" id="load-dialog">
        <div class="modal-header">
            <h3>Load a session</h3>
        </div>
        <div class="modal-body">        
            <form>
                <label>Filename</label>
                <input type="text" data-bind="value: fileNameProxy" disabled="disabled"/>
                <input type="text" data-bind="value: oidProxy" disabled="disabled"/>
                
                <!--<select data-bind="value: fileName, options: availableFiles"></select>-->
                <div data-bind="foreach: availableFiles">
                    <div class="rowdiv" data-bind="click: $root.setFilenameProxy">
                        <div style="width:50%" class="pull-left" data-bind="text: state_name">
                        </div >
                        <div style="width:50%" class="pull-left" data-bind="text: description">
                        </div >
                        <div style="" class="clearfix">
                        </div >
                    </div>
                
                </div>
                
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-bind="click: loadAndHideDialog">Load</button>
            <button class="btn" data-bind="click: hideLoadDialog">Cancel</button>
        </div>
    </div>
    
{% endblock %}

{% block content_wide %}

    
    <div id="blocks-canvas">
    </div>    
    
    
    <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li><p class="navbar-text">Change background</p></li>
                </ul>
                <form class="navbar-form pull-left">
                            <select data-bind="options: canvasBackgrounds, value: canvasBackground" ></select>
                        </form>
            </div>
        </div>
    </div>
        

{% endblock %}


{% block js_body %}
    <script src="/static/sketch_ui/js/lib/jquery-ui-1.9.1.custom/js/jquery-ui-1.9.1.custom.min.js"></script>
    <!--<script src="/static/sketch_ui/js/lib/jquery.zoomooz.min.js"></script>-->
    
    <script src="/static/ui/jsPlumb/jquery.jsPlumb-1.3.16-all-min.js"></script>    
    <script src="/static/sketch_ui/js/lib/json-tree-viewer/js/jquery.jsonview.js"></script>
    
     <script src="/static/sketch/js/sketch.js"></script>

     <script src="/static/sketch_ui/js/lib/jquery.tmpl.min.js"></script>
     <script src="/static/sketch_ui/js/lib/knockout-2.1.0.js"></script>
     
     <script src="/static/sketch_ui/js/lib/d3.v2.min.js"></script>
     <script src="/static/sketch_ui/js/lib/d3.layout.cloud.js"></script>
    
     
     <script src="/static/sketch_ui/js/lib//OpenLayers/OpenLayers.js"></script> 

     <!--
     <script src="http://dev.openlayers.org/sandbox/camptocamp/canvas/openlayers/lib/OpenLayers.js"></script> 
     -->
     
     <!--
     <script src="http://dev.openlayers.org/sandbox/camptocamp/canvas/openlayers/lib/OpenLayers/Control/ExportMap.js"></script> 
     -->

     <script src="/static/ui/js/ui.js"></script>
     <script src="/static/ui/js/ui-register.js"></script>
     <script src="/static/ui/js/ui-toolbar.js"></script>
     <script src="/static/ui/js/ui-app.js"></script>
     <script src="/static/ui/js/ui-fields.js"></script>
     <script src="/static/ui/js/ui-blocks.js"></script>
     
     
     <script>
     
        head.ready(function(){
     
            jsPlumb.ready(function(){
        
                jsPlumb.importDefaults({
                    ConnectorZIndex:5,
                    DragOptions : { cursor: 'pointer', zIndex:2000 },
                    ConnectionOverlays : [
                        [ "Arrow", { location:0.9 } ]
                    ]
                });
            
                sketchui.app = new sketchui.SketchApp();
                ko.applyBindings(sketchui.app);
            });
        });
     </script>
     
    
{% endblock %}